<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:property-placeholder location="/WEB-INF/classes/config.properties"/>
	<util:properties id="config" location="/WEB-INF/classes/config.properties"/>
	
    <context:annotation-config/>
    <context:component-scan base-package="com.contacts"/>

	<tx:annotation-driven transaction-manager="transactionManagerBean" />

	<bean id="transactionManagerBean"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
    <!-- <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:/locales/messages"/>
        Do not use System Locale file as default. Windows & Linux could have different default locale
        <property name="fallbackToSystemLocale" value="false" />
    </bean>

    <bean class="ru.xpoft.vaadin.VaadinMessageSource" /> -->

</beans>